.footer {
  --footer-height: 350px;
  position: relative;
  z-index: 999;

  .inner {
    @include text-sm-caps;
    line-height: 1.5;
    height: var(--footer-height);
    border-top: 1px solid #ffffff20;
    padding-block: var(--g-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: calc(100vh - var(--footer-height));
  }

  a,
  button {
    &:hover {
      text-decoration: underline;
    }
  }

  &__top,
  &__bottom {
    display: flex;

    > *:nth-child(1) {
      width: 47.5%;
    }
  }

  &__name {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    svg {
      height: 5rem;
      width: fit-content;
    }
  }

  &__address {
    text-align: right;
    margin-left: auto;
  }
}

.fnb {
  .scroll-to-top {
    margin-top: 1em;
  }
}

.social-links {
  &__link-wrapper {
    &:not(:last-child) {
      &::after {
        content: ', ';
      }
    }
  }
}

@include mq-large {
  .footer {
    --footer-height: auto;
    .inner {
      gap: 100px;
      margin-top: 350px;
    }

    &__top {
      flex-direction: column;
      gap: 70px;
    }

    &__name {
      svg {
        height: 10vw;
      }
    }

    &__address {
      text-align: left;
      margin-left: 0;
    }
  }
}
