.works-sec {
  color: black;
  background-color: white;

  .inner {
    position: relative;
    padding-top: 150px;
    margin-bottom: 450px;
    > *:not(.gradient-bg) {
      position: relative;
      z-index: 1;
    }
  }
}

.gradient-bg {
  position: absolute;
  left: 0;
  width: 100%;
  height: 120vh;

  &__img-container {
    position: absolute;
    inset: 0;
    background: url('@images/intro-bg.svg?url') no-repeat 0% 0% / 100% 100%;
  }

  &--top {
    top: 0;
    transform: translateY(-40%);

    canvas {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 40%;
    }
  }

  &--bottom {
    bottom: 0;
    transform: rotate(180deg) translateY(-60%);
  }
}

.work-list {
  margin-block: 70px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.work {
  $gray: #b8b8b8;

  display: flex;
  gap: 15px;

  > * {
    flex: 1;
  }

  &__thumb {
    position: relative;
    aspect-ratio: 1/0.6;
    max-height: 400px;
    border-radius: 10px;
    background-color: #f5f5f5;

    .img-wrapper {
      height: 100%;
      overflow: hidden;
    }

    img,
    &-cursor {
      pointer-events: none;
    }

    &-cursor {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: scale 0.5s;
    }

    &:hover {
      cursor: none;
      img {
        scale: 103%;
      }

      .work__thumb-cursor {
        opacity: 1;
      }
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.3;

    &-top {
      position: relative;
    }

    &-bottom {
      position: relative;
    }
  }

  &__order {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__name {
    font-size: 2.6rem;
    text-transform: uppercase;
  }

  &__info {
    color: $gray;
  }

  &__dl {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    dt {
      color: $gray;
      text-transform: capitalize;
    }

    dd {
      text-transform: uppercase;
    }

    .industry {
      dd {
        text-transform: capitalize;
      }
    }

    .deliverables {
      grid-row: span 2;
      text-align: end;

      dd {
        display: flex;
        flex-direction: column;
      }
    }

    .published {
      grid-column: 2;
      align-self: flex-end;
    }
  }

  .btn-view {
    position: absolute;
    left: 0;
    bottom: 0;
    text-transform: uppercase;
  }
}

.works-gallery {
  --gap: 15px;

  overflow: hidden;
  mask: linear-gradient(black 66%, transparent);
  margin-inline: calc(var(--g-padding) * -1);

  &__content {
    display: flex;
    gap: var(--gap);
  }

  &__col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    img {
      width: 100%;
      aspect-ratio: 1.5;
      border-radius: 3px;
      background: #f5f5f5;
    }
  }
}

@include mq-large {
  .work {
    flex-direction: column;

    &__thumb {
      max-height: initial;
    }

    &__desc {
      gap: 50px;
    }
  }
}

@include mq-medium {
  .works-sec {
    .inner {
      margin-bottom: 250px;
    }
  }
  .gradient-bg {
    height: 70vh;
  }
  .work {
    &__dl {
      grid-template-columns: repeat(2, auto);
      justify-content: space-between;
      row-gap: 1em;
      .deliverables {
        display: none;
      }
      .industry,
      .published {
        text-align: right;
      }
    }
  }

  .works-gallery {
    display: none;
  }
}
