/* Text */
@mixin text-sm-caps {
  font-size: 1.15rem;
  text-transform: uppercase;
}

@mixin text-sm($setLineHeight: false) {
  font-size: 1.3rem;
  @if ($setLineHeight) {
    line-height: 1.5;
  }
}

@mixin text-md {
  font-size: 2rem;
}

@mixin text-lg {
  font-size: 4.6rem;
}

/* Font */
@function ff($ff) {
  @return $ff, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
}
