@use 'reset';

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

:root {
  --header-height: 4rem;
  --g-padding: 15px;

  --text-sm: 1.3rem;
  --text-sm-caps: 1.15rem;
  --text-md: 2rem;
  --text-lg: 4rem;

  @include mq-large {
    --header-height: 5rem;
  }
  @include mq-medium {
    --text-md: 1.6rem;
    --text-lg: 2.8rem;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: ff('Pretendard Variable');
}

.en {
  font-family: ff('Cal Sans');

  &--em {
    font-family: ff('Instrument Serif');
  }
}

.inner {
  max-width: 1400px;
  padding-inline: var(--g-padding);
  margin: auto;

  &--full {
    max-width: 100%;
  }
}

.external-link {
  display: flex;

  &__arrow {
    display: grid;
    grid-template-columns: 0fr;
    transition: grid-template-columns 0.2s;
    > * {
      overflow: hidden;
    }
    span {
      display: inline-block;
      transform: translateX(-100%);
      transition: transform 0.2s;
    }
  }

  &:hover & {
    &__arrow {
      grid-template-columns: 1fr;

      span {
        transform: translateX(0);
      }
    }
  }
}

.view-btn {
  @include text-sm-caps;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  padding: 1em 0.8em;
  border-radius: 10px;
}

.only-lg {
  display: none;
}

@include mq-large {
  .only-lg {
    display: inherit;
  }
}
