@use '../variables' as work-detail;

.work-intro {
  --visible-height: 30vh;

  .inner {
    position: relative;
  }

  &__bg-img {
    position: fixed;
    z-index: -1;
    inset: 0;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    div {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: min(var(--visible-height), 15vw);
      white-space: nowrap;
      line-height: var(--visible-height);
      text-transform: uppercase;
      letter-spacing: -0.05em;
      color: work-detail.$bg-color;
    }
  }

  &__bg-color {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;

    > * {
      &:nth-child(1) {
        background-color: work-detail.$bg-color;
        height: calc(100vh - var(--visible-height));
      }
      &:nth-child(3) {
        background-color: work-detail.$bg-color;
        margin-top: 100vh;
        flex: 1;
      }
    }
  }

  &__visible-area {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: var(--visible-height);
    overflow: hidden;
    &-inner {
      height: 100%;
    }
    &-1,
    &-2 {
      height: 50%;
      background-color: work-detail.$bg-color;
    }
  }

  .work-overview {
    @extend %work-overview;
    position: relative;
    height: calc(
      (100vh - var(--visible-height)) + 100vh +
        (var(--sub-info-height, 40px) + 15px)
    );

    &__sub-info {
      position: sticky;
      top: calc(50vh - var(--sub-info-height, 0));
    }
  }
}

/* Load Animation */
.work-intro {
  &__visible-area {
    &-inner {
      transition: transform 2s 0.5s;
    }
    &-1 {
      transform-origin: left top;
      transition: transform 2s 0.5s;
    }
    &-2 {
      transform-origin: right top;
      transition: transform 2s;
    }
  }

  .work-overview {
    &__hr {
      transform-origin: left;
      transition: transform 0.8s ease-in-out;
      transform: scaleX(1);
      will-change: transform;
      @starting-style {
        transform: scaleX(0);
      }
    }
  }

  &.loaded {
    .work-intro__visible-area {
      &-inner {
        transform: translateY(100%);
      }
      &-1 {
        transform: rotate(10deg);
      }
      &-2 {
        transform: rotate(-10deg);
      }
    }
  }
}
